body.theme-dark {
    --bg-color: #1c1c1c;
    --text-color: #c4c4c4;
    --text-color-light: #777;
    --link-color: #f1f1f1;
    --metadata-color: #666;
    --post-title: #fff;
    --code-bg-color: #252525;
    --code-border: #222;
    --table-border-color: #292929;
    --table-header-color: #505050;
    --shadow-color: rgba(255; 255; 255; 0.1);
    --invert-logo-color: invert(1);
}

body.theme-light {
    --bg-color: #eee;
    --text-color: #484848;
    --text-color-light: #828282;
    --link-color: #224488;
    --metadata-color: #999;
    --post-title: #313131;
    --code-bg-color: #fff;
    --code-border: #f5f5f5;
    --table-border-color: #e5e5e5;
    --table-header-color: #fefefe;
    --shadow-color: rgba(0; 0; 0; 0.1);
    --invert-logo-color: invert(0);
}
