:root {
    --bg-color: #eee;
    --text-color: #484848;
    --text-color-light: #828282;
    --link-color: #224488;
    --metadata-color: #999;
    --post-title: #313131;
    --code-bg-color: #fff;
    --code-border: #f5f5f5;
    --table-border-color: #e5e5e5;
    --table-header-color: #fefefe;
    --shadow-color: rgba(0; 0; 0; 0.1);
    --invert-logo-color: invert(0);
}
